<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029045777888-jk9ft2c4rkdiepi45ekvggno2gk390tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029045777888-jk9ft2c4rkdiepi45ekvggno2gk390tj</string>
	<key>API_KEY</key>
	<string>AIzaSyCB9OaG82xa3kVWWuFs7T_-3_xVQk0IziA</string>
	<key>GCM_SENDER_ID</key>
	<string>1029045777888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.machineCare</string>
	<key>PROJECT_ID</key>
	<string>machine-care</string>
	<key>STORAGE_BUCKET</key>
	<string>machine-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029045777888:ios:d98734dc4afcb7170ce785</string>
</dict>
</plist>